.body-font {
  color: #202020;
  font-family: serif;
  font-weight: bold;
}

.container{
  width: 80%;
  margin: auto;
}


.header-box{
  position: relative;
}
.header-top {
  width: 100%;
  object-fit: contain;
}
.heart img {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}
.heart{
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
#back_to_top {
  margin: 0 auto;
  position: fixed;
  right: 2%;
  bottom: 20px;
  z-index: 999;
  transition: 0.3s ease;
  opacity: 0;
}
#back_to_top img {
  width: 30px;
  height: 165px;
}
#back_to_top.sc {
  opacity: 1;
}


#back_to_top button {
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  background: none;
  outline: 0;
  display: block;
}

#back_to_top button:hover {
  opacity: 0.5;
}
.block {
  width: 100%;
  margin: 0 auto;
}
.block-right-img {
  display: flex;  
}
.block-left-img {
  display: flex;  
  margin-top: 20px;
}

.sc2-bc{
  background-color: black;
  color: #fff;
  padding: 30px;
}
/* セクション2 お酒かけるアイスの説明 */
.block-rightimg {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.block-rightimg-item1 {
  width: 45%;
}
.block-rightimg-item1 p:nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}
.block-rightimg-item1 p:nth-child(2) {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 30px;
  padding: 0 70px;
}
.block-rightimg-item2 {
  width: 45%;
}
.block-rightimg-item2 img {
  width: 100%;
}

.block-leftimg {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}
.block-leftimg-item1 {
  width: 45%;
}
.block-leftimg-item1 p:nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}
.block-leftimg-item1 p:nth-child(2) {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 30px;
  padding: 0 70px;
}
.block-leftimg-item2 {
  width: 45%;
}
.block-leftimg-item2 img {
  width: 100%;
}
.textdesign{
  border-bottom: 1px solid #fff;
    padding: 0 50px;
    display: inline-block;
}

.sc3-bc{
  background-color: #AB874B;
  padding: 30px;
}
/* 中央の画像 */
.centralimg{
position: relative;
}
.centralimg-item{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* 追記 */
  -webkit-transform: translate(-50%, -50%); /* 追記 */
  transform: translate(-50%, -50%); /* 追記 */
  font-size: 26px;
  color: #707070;
  letter-spacing: 5px;
}

/* スプリット型 */
.font-color{
  color:#202020;
}
.block-sprit{
  width: 100%;
  margin: 0 auto;
  display: flex;  
  justify-content: space-between;
}
.block-left{
  width: 45%;
}
.block-left-item1 img{
width: 100%;
}
.block-left-item2 p:nth-child(1) {
  font-size: 33px;
  font-weight: bold;
}
.block-left-item2 p:nth-child(2) {
  font-size: 26px;
  line-height: 45px;
}

.block-right{
  width: 45%;
}
.block-right-item1 img{
  width: 100%;
  }
  .block-right-item2 p:nth-child(1) {
    font-size: 33px;
    font-weight: bold;
  }
  .block-right-item2 p:nth-child(2) {
    font-size: 26px;
    line-height: 45px;
  }

  .sc4-bc{
    background-color: #F9F3DD;
    padding: 50px;
  }
  .container2{
    width: 90%;
    margin: 0 auto;
  }
  .sc4-bc-top{
    color: #707070;
    background-color: #FDFDF8;
    margin: auto;
    padding: 30px;
  }
/* 購入はこちら */
.block-leftimg-item1-1{
  font-weight: bold;
  line-height: 40px;
  line-height: 50px;
  }
.block-leftimg-item1-1 p:nth-child(1){
  line-height: 40px;
  }  
.block-leftimg-item1-1 p:nth-child(2){
  text-decoration:double line-through red;
  }  
.form-button{
  width: 90%;
  max-width: 500px;
  height: 80px;
  padding-top: 16px;
  padding-bottom: 25px;
  color: #fff;
  font-size: 32px;
  font-stretch: ultra-expanded;
  background-color:#EFB354 ;
}

.sc5-bc{
  background-color: #fff;
  color: #202020;
}
/* お届けについて */
.block-leftimg-item1-2{
  line-height: 40px;
}
/* テキストサイズ */
.text13 {
  font-size: 13px;
}
.text23 {
  font-size: 23px;
}
.text24 {
  font-size: 24px;
}
.text26 {
  font-size: 26px;
}
.text28 {
  font-size: 28px;
}
.text21 {
  font-size: 21px;
}
.text23 {
  font-size: 23px;
}
.text60{
  font-size: 60px;
}
.text80 {
  font-size: 80px;
}
.text40 {
  font-size: 40px;
}
.page-title {
  font-size: 40px;
  text-align: center
}
.pagetitle{
  text-align: center;
  padding: 20px;
}


/* 中央寄せ */
.wrap{
  text-align: center;
}
.margin-center {
  margin: 0 auto;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-100 {
  margin-top: 100px;
}
.footer-padding{
padding: 10px;
}
.sp{
  display: none;
}

/*================================
	scアニメ
================================*/
.fadein, .fadein02, .fadein03 {
	opacity : 0;
	transition : all 0.8s;
}
.fadein.show, .fadein02.show, .fadein03.show { opacity : 1; }


.upfade {
	opacity : 0;
	transform : translate(0, 50px);
	transition : all 500ms;
}
.upfade.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}

.downfade {
	opacity : 0;
	transform : translate(0, -50px);
	transition : all 500ms;
}
.downfade.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}


.fade {
	opacity : 0;
	transition : all 0.8s;
}
.fade.active {
	opacity : 1;
}


.sclinWrap {
	height: auto;
	overflow: hidden;
}

.sclin_right {
	opacity : 0;
	transform : translate(50px, 0);
	transition : all 500ms;
}
.sclin_right.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}


.sclin_left {
	opacity : 0;
	transform : translate(-50px, 0);
	transition : all 500ms;
}
.sclin_left.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}





@media screen and (max-width: 768px) {
  .block-rightimg {
    flex-direction: column-reverse;
  }
  .block-rightimg-item1 {
    width: 100%; 
  }
  .block-rightimg-item1 p:nth-child(1) {
    font-size: 30px;
  }
  .block-rightimg-item1 p:nth-child(2) {
    font-size: 23px;
  }
  .block-rightimg-item2 {
    width: 100%;
  }
  .block-leftimg {
    flex-direction: column;
  }
  .block-leftimg-item1 {
    width: 100%;
  }
  .block-leftimg-item1 p:nth-child(1) {
    font-size: 30px;
  }
  .block-leftimg-item1 p:nth-child(2) {
    font-size: 23px;
  }
  .block-leftimg-item2 {
    width: 100%;
  }
  .container{
    width: 90%;
  }
  .heart img{
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
  }
.page-title-item4{
  font-size: 25px;
}
.block-sprit{
flex-direction: column;
}
.block-left{
  width: 100%;
}
.block-right{
  width: 100%;
  margin-top: 15px;
}
.block-left-img{
  margin-top: 0px;
}
.sc4-bc-top{
  padding: 10px;
}
.container2{
  width: auto;
}
.sc4-bc{
  padding: 20px;
}
.sc3-bc{
  padding: 10px;
}
.sc2-bc{
  padding: 10px;
}
.sp{
  display: block;
}
}

