.container{
  width: 70%;
  margin: auto;
}

.header-box{
  position: relative;
}
.header-top{
width: 100%;
}
.heart{
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.body-font {
  color: #707070;
  font-family: sans-serif;
}


.block {
  width: 100%;
  margin: 0 auto;
}
.block-right-img {
  display: flex;  
}
.block-left-img {
  display: flex;  
  margin-top: 20px;
}


/* セクション2 お酒かけるアイスの説明 */
.block-rightimg {
  display: flex;  
  justify-content: space-between;
}
.block-leftimg {
  display: flex;  
}
.block-rightimg-item1 {
  width: 45%;
}
.block-rightimg-item1 p:nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}
.block-rightimg-item1 p:nth-child(2) {
  font-size: 26px;
  line-height: 45px;
}
.block-rightimg-item2 {
  width: 45%;
}
.block-rightimg-item2 img {
  width: 100%;
}

/* テキストサイズ */
.text13 {
  font-size: 13px;
}
.text16 {
  font-size: 16px;
}
.text18 {
  font-size: 18px;
}
.text20 {
  font-size: 20px;
}
.text21 {
  font-size: 21px;
}
.text23 {
  font-size: 23px;
}
.text80 {
  font-size: 80px;
}
.text40 {
  font-size: 40px;
}

.page-title {
  font-size: 40px;
  text-align: center
}

/* 中央寄せ */
.wrap{
  text-align: center;
}
.margin-center {
  margin: 0 auto;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-100 {
  margin-top: 100px;
}